body {
    background-color: black;
    color:white;
    font-family: sans-serif;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}
th, td {
    border: 1px solid white;
    padding: 5px;
}